# BASIC DATA TYPE 

* String 
* Integers
* Floats
* Booleans

# STRING

In [2]:
# string value should marked with quotation marks (single or double quotation marks)
"Claudia"
"1"

'Mary'

In [13]:
print(type("claudia"))
print(type("1")) # checking the type

<class 'str'>
<class 'str'>

In [7]:
'chase "Chaz"' # This is a valid python code for a string

'chase "Chaz"'

In [12]:
# thi is a invalid code and throw an error
"chase 'Chaz'' 
"chase 'Chaz"

SyntaxError: EOL while scanning string literal (254692850.py, line 1)

In [17]:
# String is also a object and makes it possible to be manipulated  
# check for string method for their manupulation "https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str"

"Claudia".upper() # using upper() to change a string into upper case
"Claudi".isnumeric()

False

In [15]:
"Claudia".isnumeric()

False

In [16]:
"1".isnumeric()

True

# INTEGERS 

    * Are simply whole numbers

In [3]:
1

1

In [4]:
2+2

4

In [5]:
100,000 # Integers does not understand a comma in whole number. so Here it reads like these 2 different number

(100, 0)

In [10]:
print(type(100000))

<class 'int'>

In [11]:
# String can be changed into integer but the opposite is not possible
"2"
type("2")

str

In [12]:
int("2") # changing string number into integer

2

In [13]:
str(2) # integers can be turned into string

'2'

# Floats

    * simply decimal numbers

In [15]:
1.2
type(1.2)

float

In [16]:
type(2.5)

float

In [17]:
int(2.5) # changing a float into integer

2

In [18]:
float(2) # changing an integer into a float

2.0

In [21]:
random_float=0.2
random_float.as_integer_ratio()

(3602879701896397, 18014398509481984)

In [22]:
3602879701896397/18014398509481984

0.2

# Booleans

    * Booleans values are used for comparison
    * They represent the truth value of another value or of an expression
    * Boolean values are True and False.
    * Any object can be tested for truth value
        *Truthy: statements or values that evaluate to True
        *Falsy: statements or values that evaluates to False

In [26]:
print(type(True))

<class 'bool'>

In [25]:
print(type(False))

<class 'bool'>

In [27]:
1>2

False

In [29]:
print(type(1>2))

<class 'bool'>

In [30]:
bool(0)

False

In [31]:
bool(1)

True

In [32]:
# Number that are zero are evaluated to true 

bool(4)

True

In [33]:
bool(-10)

True

In [34]:
bool("") # this is a falsy value

False

In [35]:
bool("hello") # this is a truth value

True

In [38]:
int(True)

1

In [39]:
1+int(True)

2

# EXERCISES

In [22]:
#### STRINGS ###
# Enter a valid string
type("Claudia")

str

In [23]:
# Enter a string using two sets of quotation marks
type("Hello 'world'")

str

In [16]:
# Convert the string '100' to an integer
type("100")

str

In [17]:
type(int("100"))

int

In [11]:
# Use a string method to make the string 'HELLO' -> 'hello'
'HELLO'.lower()

'hello'

In [24]:
### FLOATS ###
# Enter a float
type(5.5)

float

In [25]:
# Convert a float to an integer
type(int(5.5))

int

In [14]:
### BOOLEANS ###
# Test the truth value of the integer -5
bool(-5)

True

In [20]:
# Convert the boolean values True and False to integer values
print(int(True))
print(int(False))

1
0

In [21]:
# CHALLENGE: What is the value and data type for the expression below
int(5.4) + False - True + int(bool('hello'))

5

# BUILT-IN-FUNCTION 

* are function that exist already in python 
* E.g: int(); print();type();str();bool()
* https://docs.python.org/3.9/library/functions.html

In [32]:
print('hello world')
input()
print("this file is done running")

hello world
5
this file is done running

In [35]:
round(3.33333366666,2)

3.33

In [36]:
max(4,5,6,7,8,2)

8

In [37]:
min(4,5,6,7,8,2)

2

In [40]:
print('start of file')
input("pleaser enter your name")
print("End of file execution")

start of file
pleaser enter your nameClaudia
End of file execution

In [48]:
a=round(1.55678,2)

# Variables & Functions

* Varables stores values
* Functions stores tasks , actions, or code
* Both can be referenced in a file after declaration

In [3]:
name="Claudia" # Assigning a value to a variable 
print(name)

Claudia

In [5]:
name="Sally" # Reassign a variable 
print(name)

Sally

In [7]:
full_name= name+" Claudia" # string concat 
full_name

'Sally Claudia'

In [8]:
name

'Sally'

In [16]:
# variable are case sensitive 

A='pen'
a='pencil'

In [15]:
A

'pen'

In [17]:
a

'pencil'

# variables with operators

In [22]:
# Math operator
2+2

4

In [23]:
5/2 #Division

2.5

In [24]:
5//2 # Integer division

2

In [25]:
5%2 # The modulus/remainder gices the left over of a division operation

1

In [28]:
# comparison operators 
2>3

False

In [30]:
2<=3

True

In [32]:
2==2

True

In [34]:
2!=3

True

In [48]:
small_integer=4
large_integer=42
repeat_small_integer=3
basic_comparison=small_integer>=large_integer
print(basic_comparison)

False

In [49]:
division=large_integer/small_integer
integer_division=large_integer//small_integer
modulus=large_integer%small_integer
print(division)
print(integer_division)
print(modulus)

10.5
10
2

In [47]:
print(f'division answer is {division}')
print(f'integer_division is {integer_division}')
print(f'modulus is {modulus}')

division answer is 10.75
integer_division is 10
modulus is 3

In [50]:
# python execute tasks line by line 
round(5**((7+4)/6),3)>=20

False

In [60]:
a=(7+4)/6
a

1.8333333333333333

In [61]:
b=5**a
b

19.118112283293247

In [59]:
c=round(b,3)
c

19.118

In [62]:
c>=20

False

# FUNCTIONS

* A fucntion definition is executable statement
* its exection binds the function name in the current local namespace to a function object

In [63]:
# function with positional argument 
def add(x,y):
    total=x+y #  this is an exectable statement 
    return total # the function definition does not execute the function body

In [65]:
add(4,10)  # the function gets executed only when it is called

14

In [71]:
# function with keyword argument 
def add(x=0,y=0):
    total=x+y #  this is an exectable statement 
    return total

In [72]:
add(2,)

2

In [73]:
def add(x,y=0):
    total=x+y 
    return total

In [76]:
add(5,6)

11

In [81]:
# Nesting function

def format_sentence(num):
    return f'the number add up to {num}'

def add(x,y=0):
    total=x+y 
    return format_sentence(total)

In [82]:
add(3,8)

'the number add up to 11'

# Exercices

In [30]:
# Create YOUR NEW LUCKY NUMBER

In [4]:
# TODO: Save user input name to variable
user_name=input("Please enter your name:")

Please enter your name:Claudia

In [6]:
user_name

'Claudia'

In [7]:
# TODO: Save user input number to variable
user_number = input('Please enter a number: ')
user_number

Please enter a number: 5

'5'

In [9]:
type(user_number)

str

In [10]:
# TODO: Convert the user number to an integer and reassign the variable
user_number=int(user_number)
user_number

5

In [11]:
# TODO: Perform calculation on user_number using math operator to get the users new lucky number and save to a variable
new_lucky_number = user_number**5//2 # here we are using the function de defined above 
new_lucky_number

1562

In [13]:
# TODO: Using an f-string, print the users name and lucky number to console
print(f'Hello {user_name}, your new_lucky_number is {new_lucky_number}')

Hello Claudia, your new_lucky_number is 1562

In [14]:
#TODO: Turn the new lucky number calculation into a function

def luck_number(x):
    return f'Hello {user_name}, your new lucky number is {x}'

def my_new_lucky_number(num):
    x=user_number**5//2
    return luck_number(x)

In [15]:
my_new_lucky_number(user_number)

'Hello Claudia, your new lucky number is 1562'

# ERROR & DEBUGGING

* Syntax errors due to : 
    * indentation
    * Function definition
    * Variable initialization
    * Function call
    * User of operator 
    * Name error

In [16]:
# Reading a Stack Trace 

print (non_existent_variable)  # here the error is due to the fact that the variable we are trying to  print is not defined.
                               # defining the variable "non_existent_variable" will solve the problem

NameError: name 'non_existent_variable' is not defined

In [19]:
def add_5(num):
    return num+5
add_5("1")  # here the error is due to the fact that the variable provided for the function is a string

TypeError: can only concatenate str (not "int") to str

In [22]:
# Debugging error debugging using print 

def add_5(num):
    # print(type(num)) num should be an integer
    return num+5
add_5("1")

<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [29]:
# Trying and Except method to give a feedback user on error made 

def add_5(num):
    try:
        total=num+5
        return total
    except TypeError: # defining the type of error expected 
        print('Argument must be an integer please')
        
add_5("1") # in this case, if the call of  function is ok, it will return the result 
            # otherwise, it will print the message provided in print()

Argument must be an integer please

In [30]:
def add_5(num):
    try:
        total=num+5
        return total
    except TypeError: # defining the type of error expected 
        print('Argument must be an integer please')
        
try:
    add_5()
except TypeError:
    print('argument must be provided')

argument must be provided

In [ ]:
def add_5(num):
    try:
        total=num+5
        return total
    except TypeError: # defining the type of error expected 
        print('Argument must be an integer please')
        
try:
    add_5(10)
except TypeError:
    print('argument must be provided')

In [22]:
phrase="Hello, world"

In [23]:
phrase is None

False

In [24]:
"world" in phrase

True

In [25]:
phrase is not True

True

In [26]:
def reassign_var(var):
    global phrase
    phrase="I will be a good data analyst"

In [29]:
print(reassign_var(phrase))

None

In [28]:
print(phrase)

I will be a good data analyst